@using MyShoppingCart.Data.ViewModels
@{
	List<ProductImage> productImages = ViewBag.Images != null ? ViewBag.Images : null;
	List<ProductRating> productRatings = ViewBag.productRatings != null ? ViewBag.productRatings : null;
	EditProductsVM product = ViewBag.Product != null ? ViewBag.Product : null;

	ViewData["Title"] = "Product details";
	int i = 0;
	int j = 0;
	int k = -1;
}

<div class="row">
	<div class="col-md-8 offset-sm-2">
		<div class="card mb-12">
			<div class="row g-0">
				<div class="col-md-12">
					<div class="card-header text-white site-background-blue">
						<div class="row" id="outer_row_div">

							<div class="col" id="left_half">
								<div class="row" id="top_left">
									<p class="card-text m-0"><h5 class="cardtitle text-nowrap">@product.productModel.Name</h5></p>
								</div>

								<div class="row " id="bottom_left">
									<div class="col mt-0 text-nowrap" id="stars_col">
										@await Html.PartialAsync("_DisplayRating", product.productModel.Rating)
									</div>
									<div class="col mt-0" id="rating_col">
										@string.Format("{0}", product.productModel.Rating.ToString("F2") )
									</div>
								</div>
							</div>

							<div class="col" id="right_half">
								<div class="row" id="top_right">
									<div class="col text-end mb-4">
										@*@string.Format("Number of Reviews: {0}", product.productModel.NumberOfReviews)*@
										Number of Reviews: @product.productModel.NumberOfReviews
									</div>

								</div>
								<div class="row" id="bottom_right">
									<div class="col text-end" >
										<span> <a class="site-link-text" asp-action="WriteReview" asp-route-productId="@product.productModel.Id"><i class="bi bi-pencil"> Write Review</i></a> </span>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8" style="max-height:400px">
					<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="max-width:400px">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							@foreach (var item in productImages)
							{
								j++;
								k++;
								if (j > 1)
								{
									<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@k" aria-label="Slide @j"></button>
								}
							}
						</div>
						<div class="carousel-inner m-2">

							@foreach (var item in productImages)
							{
								i++;
								var active = i == 1 ? "active" : "";

								<div class="carousel-item  @active">
									<img src="@item.ImageURL" class="d-block w-100 rounded-3 img-fluid" alt="@product.productModel.Name" style="max-height:350px">
									<div class="carousel-caption d-none d-md-block">
										<h5>@item.ImageDescription</h5>
									</div>
								</div>
							}

						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					@*<img src="@Model.productImages[0].ImageURL" width="100%" alt="@Model.Name">*@
				</div>
				<div class="col-md-4" style="background-color:whitesmoke">
					<div class="card-body" style="overflow-y:auto;height:255px">
						<p class="card-text">@product.productModel.Description</p>


					</div>
				</div>
				<div class="col-md-12 mt-2">
					<div class="card-footer">
						<p class="card-text">
							<a class="btn btn-outline-primary float-right" asp-action="Index">
								Back to List
							</a>
							<a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@product.productModel.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @product.productModel.Price.ToString("c"))</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@await Html.PartialAsync("_DisplayReviews", productRatings)
