@using MyShoppingCart.Data.ViewModels;
@model EditProductsVM
@*@using MyShoppingCart.Data;*@

@{
	ViewData["Title"] = "Update Product";
}

<div class="row">
	<div class="col-md-4">
		<div class="row mx-1">
			<div class="col-md-12">
				<p>
					<h4>Update Product</h4>
				</p>
			</div>
		</div>


		<div class="row mx-1">

			<div class="col-md-12">

				<form asp-action="Edit" class="p-1 border border-dark rounded">

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-group">
						<label asp-for="productModel.Name" class="control-label"></label>
						<input asp-for="productModel.Name" class="form-control" />
						<span asp-validation-for="productModel.Name" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input type="hidden" asp-for="productModel.Id" class="form-control" />
					</div>


					<div class="form-group">
						<label asp-for="productModel.Price" class="control-label"></label>
						<input asp-for="productModel.Price" type="text" class="form-control" />
						<span asp-validation-for="productModel.Price" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="productModel.Description" class="control-label"></label>
						<textarea asp-for="productModel.Description" class="form-control"></textarea>
						<span asp-validation-for="productModel.Description" class="text-danger"></span>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" asp-for="productModel.Enabled">
						<label class="form-check-label" asp-for="productModel.Enabled">

						</label>
					</div>

					<div class="form-group mt-1">
						<input type="submit" value="Update" class="btn btn-outline-success float-right" />
						<a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
					</div>

				</form>
			</div>
			<div class="row my-1">

				<div class="col">
					<a class="btn btn-outline-secondary p-1" asp-action="UploadFile" asp-route-productId="@Model.productModel.Id">Upload Images</a>
					<a class="btn btn-outline-secondary p-1" asp-action="EditImageDescriptions" asp-route-productId="@Model.productModel.Id">Edit Images</a>

				</div>
			</div>
		</div>
	</div>
	<div class="col">

		<div class="col mx-1">
			<div class="row mx-1">
				<div class="col-md-12">
					<p>
						<h4>Selected Product Categories</h4>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="my-2 mt-0 list-group border border-dark rounded overflow-auto" style="list-style: none">
					@{
						if (@Model.productModel.productCategory != null)
						{
							foreach (ProductCategory category in @Model.productModel.productCategory)
							{
								string sFullCategoryPath = @Model.editCategoriesVM.lstProductCategoryLookup.Find(y => y.Id == category.ProductCategoryLookupId).CategoryName;

								int iParentCategoryId = category.productCategoryLookup.ParentCategoryId;

								while (iParentCategoryId > 0)
								{
									ProductCategoryLookup parentCategory = @Model.editCategoriesVM.lstProductCategoryLookup.Find(y => y.Id == iParentCategoryId);

									sFullCategoryPath = $"{parentCategory.CategoryName} > {sFullCategoryPath}";

									iParentCategoryId = parentCategory.ParentCategoryId;
								}

								<li class="my-0 text-nowrap list-group-item border-0" style="background-color:lavender">
									@sFullCategoryPath
								</li>
							}
						}
					}
				</ul>
			</div>
		</div>
		<div class="col">
			<a class="btn btn-outline-secondary p-1" asp-action="SelectProductCategories" asp-route-productId="@Model.productModel.Id">Select Product Categories</a>
		</div>
	</div>
</div>







@section Scripts{

<script>

	$(document).ready(function () {
		// Initialization
		new AutoNumeric('#Price', {
			currencySymbol: '$',
			alwaysAllowDecimalCharacter: true,
			decimalCharacterAlternative: ".",
			outputFormat: "number",
			unformatOnSubmit: true
		});
	})
</script>
}



