@using MyShoppingCart.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Sign up for a new account";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Sign up for a new account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        @if (Model.addressVerificationResponse != null && @Model.addressVerificationResponse.ErrorText != "")
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @Model.addressVerificationResponse.ErrorText </span>
            </div>
        }

        @if (ViewBag.PasswordError != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @ViewBag.PasswordError </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address1" class="control-label"></label>
                        @if (Model.Address1 != null)
                        {
                            <input asp-for="Address1" class="form-control" value="@Model.Address1" />
                        }
                        else
                        {
                            <input asp-for="Address1" class="form-control" />
                        }
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address2" class="control-label"></label>
                        @if (Model.Address2 != null)
                        {
                            <input asp-for="Address2" class="form-control" value="@Model.Address2" />
                        }
                        else
                        {
                            <input asp-for="Address2" class="form-control" />
                        }
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        @if (Model.City != null)
                        {
                            <input asp-for="City" class="form-control" value="@Model.City" />
                        }
                        else
                        {
                            <input asp-for="City" class="form-control" />
                        }
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        @if (Model.State != null)
                        {
                            <input asp-for="State" class="form-control" value="@Model.State" />
                        }
                        else
                        {
                            <input asp-for="State" class="form-control" />
                        }
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        @if (Model.ZipCode != null)
                        {
                            <input asp-for="ZipCode" class="form-control" value="@Model.ZipCode" />
                        }
                        else
                        {
                            <input asp-for="ZipCode" class="form-control" />
                        }
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" asp-for="SellerAccount" />
                        <label class="form-check-label" asp-for="SellerAccount"></label>
                    </div>

                    <div class="form-group mt-3">
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary" asp-controller="Products" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>