@model IEnumerable<Product>

<div class="col border-primary mb-3 products">
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-md-4 d-flex align-items-stretch">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-12">
							<div class="card-header text-white site-background-blue">
								<div class="row">
									<div class="col-lg-10">
										<div class="card-text">
											<h5 class="card-title float-left text-nowrap">@item.Name</h5>
										</div>
									</div>
									<div class="col">
										@{
											if (User.Identity.IsAuthenticated && User.IsInRole("Seller"))
											{
												<a class="text-white" asp-action="Edit" asp-route-id="@item.Id"><i style="padding-right:0px" class="bi bi-pencil-square"></i></a>
											}
										}
									</div>

								</div>

								<div class="row">
									<div class="col-md-4 float-left">
										<p class="text-dark text-nowrap">@item.Price.ToString("c")</p>
									</div>
									<div class="col-md-8 float-right text-nowrap">@await Html.PartialAsync("_DisplayRating", item.Rating)</div>
								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="row h-100">
								<div class="col-md-7 m-0">
									@{
										if (@item.productImages.Count > 0)
										{
											<img src="@item.productImages[0].ImageURL" alt="@item.Name" class="rounded-3 m-0 img-fluid">
										}

									}

								</div>

								<div class="col" style="overflow-y:auto;height:255px">
									<p class="card-text">@item.Description</p>
								</div>
							</div>
						</div>
						<div class="card-footer">
							
							<div class="mb-0 d-none d-xl-block" style="height:40px">
								<a class="btn btn-outline-primary m-1" asp-action="Details" asp-route-id="@item.Id">
									<i class="bi bi-eye-fill"></i> Details
								</a>

								<a class="btn btn-success text-white float-right m-1" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
							</div>

							<div class="mb-0 d-xl-none" style="height:90px">
								<a class="btn btn-outline-primary m-1" asp-action="Details" asp-route-id="@item.Id">
									<i class="bi bi-eye-fill"></i> Details
								</a>

								<a class="btn btn-success text-white float-right m-1" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
